<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPhraseCountable" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3000/phraseCount" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPhraseCountable" contract="IPhraseCountable"
                name="BasicHttpBinding_IPhraseCountable" />
        </client>
    </system.serviceModel>
</configuration>